@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  color: white;
}

.background-main-color {
  background-image: url('/assets/images/bg2.jpg');
  /* background-image: url('/assets/images/mainBackground.jpg'); */
  /* background-image: url('/assets/images/snow1.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.backgroundImage {
  height: 100vh;
}

.hero-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timeline-line {
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: linear-gradient(to bottom, #f8f8f800 50%, #ccc 50%);
  background-size: 2px 20px;
  background-repeat: repeat-y;
  z-index: 0;
  margin: -20px;
}

.timeline-container {
  position: relative;
  padding: 20px;
}

.gallery-column {
  display: flex;
  align-items: center;
  justify-content: center;
}
